@import "@/assets/css/base.scss";
.detail-box {
    background-color: $Color_fff;
    // 头部
    .detail-header {
        display: flex;
        height: 100px;
        padding: 15px 0;
        background-color: #FAFAFA;
        // 输入框
        .detail-header-input {
            position: relative;
            width: 90%;
            margin: 0 20px;
            border: 1px solid $Color_ccc;
            border-radius: 5px;
            color: $Color_ccc;
            .van-cell {
                height: 100%;
                .van-cell__value {
                    margin: auto;
                    .van-field__control {
                        padding-left: 30px;
                        font-size: 30px;
                    }
                }
                
            }
            .input-icon {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 50px;
                .van-icon {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    font-size: 30px;
                    color: $Color_ccc;
                }
            }
        }
        // 按钮
        .detail-header-searchBtn {
            width: 15%;
            height: 70px;
            line-height: 70px;
            margin-right: 5px;
            padding: 0;
            span {
                width: 100%;
                height: 100%;
                font-size: 30px;
                display: inline-block;
            }
        }
    }
    // 热门搜索
    // 常用分类
    .detail-HotSearch,
    .detail-classify {
        .title {
            padding: 0 15px;
            margin: 20px 0;
            font-size: $FontSize35;
            color: #0D0C0C;
        }
        .tabs-box {
            margin-top: 20px;
            span {
                padding: 15px;
                border: 1px solid;
                margin: 15px;
                font-size: 30px;
            }
        }
    }
    // 热门搜索
    .detail-HotSearch {
        .img-box {
            width: 100%;
            height: 300px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    // 常用分类
    .detail-classify {
        .tabs-box {
            span {
                border: none;
            }
        }
    }
    // 搜索记录
    .detail-searchHis {
        margin-top: 20px;
        .title {
            height: 40px;
            padding: 0 15px;
            font-size: 30px;
            color: #0D0C0C;
            border-bottom: 2px solid #F4F4F2;
        }
        .history-list {
            .list-detail {
                margin: 20px;
                height: 60px;
                border-bottom: 2px solid #ccc;
                .iconfont {
                    margin-right: 20px;
                }
                span {
                    vertical-align: text-top;
                    font-size: $FontSize35;
                }
            }
        }
        .clear {
            text-align: center;
            height: 60px;
            line-height: 60px;
            font-size: $FontSize35;
        }
    }
}