@import "@/assets/css/base.scss";
.searchModule-box {
    height: 100%;
    display: flex;
    text-align: center;
    line-height: $HeightSearch;
    .iconfont {
        font-size: 35px;
    }
    // 信息框
    .search-info {
        float: left;
        height: 100%;
        width: 10%;
        .iconfont {
            height: 100%;
            .van-info {
                top: -40px;
            }
        }
    }

    // 信息框的弹出框
    .searchInfoPopup-box {
        color: #2D2D2D;
        // 头部
        .searchInfoPopup-head {
            overflow: hidden;
            .searchInfo-back {
                text-align: left;
                float: left;
                width: 200px;

                .van-icon {
                    font-size: 35px;
                    margin: 0 10px;
                    top: 8px;
                }

                span {
                    display: inline-block;
                    font-size: 25px;
                    font-weight: 600;
                }
            }

            .searchInfo-clear {
                float: right;
                width: 100px;
            }
        }
        // 内容
        .searchInfoPopup-content {
            width: 100%;
            position: absolute;
            top: 85px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $Color_eee;
            .content {
                overflow: hidden;
                .card {
                    display: flex;
                    background-color: $Color_fff;
                    width: 90%;
                    margin: 20px auto;
                    border-radius: 10px;
                    justify-content: center;
                    div {
                        width: 50%;
                        text-align: center;
                        img {
                            width: 100px;
                            height: 100px;
                            margin-top: 20px;
                        }
                        p {
                            margin-top: -50px;
                        }
                    }
                }
            }
        }
        
    }
    

    // 输入框
    .search-input {
        width: 80%;
        height: 100%;
        position: relative;
        input {
            box-sizing: border-box;
            width: 100%;
            border: 1px solid $Color_ccc;
            height: 50px;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            padding-left: 50px;
        }
        .search-icon {
            position: absolute;
            top: 0;
            left: 20px;
            .iconfont {
                font-size: 20px;
            }
        }
    }

    // 扫码
    .search-saoma {
        float: right;
        height: 100%;
        width: 10%;
    }
}
