//fontSize
$fontSize8: 8px;
$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;

//color
$ThemeColor: #959595;
$Color_fff: #fff;
$Color_red: #C23531;
$Color_ddd: #ddd;
$Color_ccc: #ccc;
$Color_eee: #EEEEEE;
$color1: #9ea7b3;
$color2: #4ac4bc;
$color3: #f0f0f0;
$color4: #9ca4af;
$color5: #eaeaea;
$color6: #4f4f4f;
$color7: #686868;
$color8: #334566;
$color9: #7e7e7e;
$color10: #cfcfcf;
$color11: #7a87a2;

// height
$HeightSearch: 100px;